*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --font-heading: 8vw;
    --font-subhead: 3vw; 
    --bg-main: #d2d2d2;
    --bg-dark: #ffffff;
    --text: #000000;
    --glow-color: hsl(132, 69%, 60%) ;
}

body{
    font-family: system-ui , "sans-serif";
    color: var(--text);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.buttons{
    padding-top: 10px;
    padding: 20px;
    text-align: center;
    }
    .buttons button{
    background: transparent;
    padding: 20px 40px;
    border-radius: 40px;
    margin: 10px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px var(--text);
    transition: 500ms all;
    }
    .buttons button:hover{
        box-shadow: 1px 1px 5px var(--text);
        }
    .buttons button a{
        text-decoration: none;
        color: var(--text);
        font-size: 1rem;
        font-weight: 500;
    }

.hero{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url('/images/maktab/syed mustafa bg.jpg');
    background-position: center;
    background-size: cover;
    
    margin: 0 60px;
    border-radius: 10px;
}
.hero h1{
    font-size: 3rem;
    text-shadow: 0 0 50px var(--glow-color);
    color: white;
    background-color: #000000;
    padding:5px;
}
h2{
    padding: 20px;
}
main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    width: 100vw;
    gap: 1rem;
    padding: 20px;
}



main .image{
    width: 100%;
   position: relative; 
    transition: .5s all;
}
main .image button{
    padding: 10px;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

 .image img{
width: 100%;
height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.image:hover{
    transform: scale(1.2);
    z-index: 9999;
}

main .image:nth-child(odd){
    grid-column: span 1;
    grid-row: span 1;
}
main .image:nth-child(even){
    grid-column: span 1;
    grid-row: span 2;
}




/* phone */
@media only screen and (max-width: 600px) {
    .hero{
        height: 40vh;
    }
    .hero h1{
        font-size: 1rem;
    }
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}


/*large phones*/

@media only screen and (min-width: 601px) and (max-width: 758px){
    .hero{
        height: 40vh;
    }
    .hero h1{
        font-size: 2rem;
    }
    main {
        grid-template-columns: repeat(2, 1fr);
    }


}
/* tablet */
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .hero{
        height: 50vh;
    }
    .hero h1{
        font-size: 2rem;
    }
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}
footer{
    text-align: center;
}
.foot-mid {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: #ffffff;
    border-radius: 70px 70px 0 0;
}

.foot-mid div {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
}

.foot-mid img {
    width: 100%;
}

.foot-mid ul {
    line-height: 2rem;
    font-size: 1rem;
}

.foot-mid ul li {
    list-style: none;

}


