*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --font-heading: 8vw;
    --font-subhead: 3vw; 
    --bg-main: #1e1e20;
    --bg-dark: #000000;
    --text: #ffffff;
    --glow-color: hsl(132, 69%, 60%) ;
}

body{
    font-family: system-ui , "sans-serif";
    background: var(--bg-main);
    color: var(--text);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.buttons{
<<<<<<< HEAD
    padding-top: 10px;
=======
    padding: 20px;
    text-align: center;
>>>>>>> master
    }
    .buttons button{
    background: transparent;
    padding: 20px 40px;
    border-radius: 40px;
    margin: 10px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px var(--text);
    transition: 500ms all;
    }
    .buttons button:hover{
        box-shadow: 1px 1px 5px var(--text);
        }
    .buttons button a{
        text-decoration: none;
        color: var(--text);
        font-size: 1rem;
        font-weight: 500;
    }

.hero{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark);
    margin: 0 50px;
    border-radius: 50px;
}
.hero h1{
    font-size: 3rem;
    text-shadow: 0 0 50px var(--glow-color);
    color: var(--glow-color);
}

main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    width: 100vw;
<<<<<<< HEAD
    height: 100vh;
=======
    
>>>>>>> master
    gap: 1rem;
    padding: 20px;
}



main .image{
    width: 100%;
    
    
}

 .image img{
width: 100%;
height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

main .image:nth-child(odd){
    grid-column: span 1;
    grid-row: span 1;
}
main .image:nth-child(even){
    grid-column: span 1;
    grid-row: span 2;
}




/* phone */
@media only screen and (max-width: 600px) {
    .hero{
        height: 20vh;
    }
    .hero h1{
        font-size: 1rem;
    }
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}


/*large phones*/

@media only screen and (min-width: 601px) and (max-width: 758px){
    .hero{
        height: 30vh;
    }
    .hero h1{
        font-size: 2rem;
    }
    main {
        grid-template-columns: repeat(2, 1fr);
    }


}
/* tablet */
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .hero{
        height: 20vh;
    }
    .hero h1{
        font-size: 2rem;
    }
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}
<<<<<<< HEAD
=======

footer{
    padding-top: 50px;
    text-align: center;
}
>>>>>>> master
