*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #20222c;
    --second-color: #4a60ff;
}
html,body{
    overflow-x: hidden;
}
body{
    background-color: var(--main-color);
    color: var(--second-color);
    font-family: sans-serif;
}
.glow{
    height: 30vh;
    width: 40vw;
    background-color: #FF33CA;
    filter: blur(150px);
    border-radius: 150px;
    z-index: -1;
    position: absolute;
    opacity:0.90;
    top: 20px;
  }

  .headline{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }
   h1{
    font-size: 4rem;
    background: -o-radial-gradient(
        circle,
        #090979 0%,
        #0654aa 51%,
        #0d0860 0%,
        #00ff71 100%,
      );
      background: radial-gradient(
        circle,
        #00ff71 0%,
        #0d0860 100%,
        #090979 21%,
        #0654aa 51%
      );
       -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
      color: var(--bg-primary);
      width: 100%;
      padding: 20px 10px;
      color: var(--bg-primary);
  }
  .headline p{
    position: absolute;
    left: -50vw;
    bottom: 25vh;
    animation: scrolled 15s infinite linear alternate-reverse forwards;
    width: max-content;
    font-size: 3rem;
    color: whitesmoke;



    background: -o-radial-gradient(
        circle,
        #000000 0%,
        #939393 51%,
        #ffffff 0%,
        #000000 100%,
      );
      background: radial-gradient(
        circle,
        #848484 0%,
        #5e5e5e 100%,
        #a3a3a3 21%,
        #000000 51%
      );
       -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
      color: var(--bg-primary);
      
  }
  @keyframes scrolled {
    100%{
        transform: translateX(100vw);
    }
  }
  