:root{
    --font-heading: 8vw;
    --font-subhead: 3vw; 
    --bg-main: #1e1e20;
    --bg-dark: #000000;
    --text: #ffffff;
    --glow-color: hsl(132, 69%, 60%) ;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, black 0%, #222 50%, black 100%);
    width: 100%;
    height: 100%;
    display: table;
  }
  .loader {
    color: white;
    font-family: Ubuntu Mono, sans-serif;
    font-weight: bold;
    animation-duration: 4s;
    animation-name: spread;
    animation-iteration-count: infinite;
    transform: translatez(0,0,0);
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
    font-size: 1.3em;
    letter-spacing: 6em;
    text-indent: -100%;
  }
  @keyframes spread {
    from {
      letter-spacing: 6em;
      text-indent: -150%;
    }
    5% {
    }
    50% {
      text-indent: 50%;
      letter-spacing: 0.3em;
    }
    95% {
    }
    to {
      letter-spacing: 6em;
      text-indent: 120%;
    }
  }


img{
    pointer-events: none;
    touch-action: none;
}
.nav-btn{
    display: none;
}
header {
    box-shadow: 0 0 8px var(--text);
    color: var(--text);
    padding:20px;
    margin: 20px;
    border-radius: 50px;
    }
    nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
    .nav-right{
        display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    margin-bottom: 10px;
    }
    .nav-right a{
        text-decoration: none;
        color: var(--text);
    }
    .nav-right a:hover{
        color: var(--glow-color);
        text-shadow: 0 0 20px var(--glow-color);
    }
    .nav-left img{
    width: 50px;
    }

    /*Navbar*/
@media only screen and (max-width: 758px){
    .nav-btn{
        display: block;
        height: 10px;
        width: 10px;
        position: relative;
        z-index: 999999;
    }
    header{
        padding: 10px;
    }
    .nav{
        
        justify-content: space-between;
    }
    .nav-right{
        position: fixed;
        display: flex;
        flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding-top: 40px;
    backdrop-filter: blur(50px);
    height: 100vh;
    width: 100vw;
    left: 400px;
    top: 0px;
    transition: 1s all;
    overflow: hidden;
    }
    .nav-right a{
        text-decoration: none;
        color: var(--text);
        font-size: 2rem;
    }
    .nav-right a:in-range{
        color: var(--glow-color);
        text-shadow: 0 0 20px var(--glow-color);
    }
}
