:root {
  --font-heading: 8vw;
  --font-subhead: 3vw;
  --bg-main: #1e1e20;
  --bg-dark: #000000;
  --text: #000000;
  --glow-color: hsl(0, 69%, 60%);
}

/* .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, black 0%, #222 50%, black 100%);
  width: 100%;
  height: 100%;
  display: table;
} */


img {
  pointer-events: none;
  touch-action: none;
}

header {
 
  color: var(--text);
  z-index: 1;
background-color: #9e9e9e0c;
backdrop-filter: blur(50px);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 5vw;

}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
  margin-bottom: 10px;
}

.nav-right a {
  text-decoration: none;
  color: var(--text);
}

.nav-right a:hover {
  color: var(--glow-color);
  text-shadow: 0 0 20px var(--glow-color);
}

.nav-left img {
  width: 50px;
}
#menu-btn{
  display: none;
}

@media (max-width: 620px) {
  #menu-btn {
    display: block;
    font-size: 1.2rem;
    cursor: pointer;
  }
  #menu-btn:hover ~ .nav-right {
    transition: 1s all;
    height: 34vh;
  }
  .nav-right:hover {
    transition: 1s all;
    height: 34vh;
  }
  .nav-right {
    line-height: 3rem;
    flex-direction: column;
   overflow: hidden;
position: absolute;
width: 100px;
height: 0;
top: 3.6rem;
right: 8px;
gap: 0;
    transition: 2s all;
    background-color: #00000048;
  }

  .nav-right a {
    font-size: 1rem;
  }

  .nav-left img {
    width: 40px;
  }

  header {
    padding: 10px 0;
  }
}